.project_wrapper {
  background: #212428;
  padding: 50px 0px;
}
.inner_project_wrapper {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .inner_project_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 425px) {
  .inner_project_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
.card-area {
  border-radius: 20px;
  background: gradient(145deg, #1e2024, #23272b) !important;
  color: #fff;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}

.card-area img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
}

.card-area p {
  font-size: 16px;
  padding: 15px;
  text-align: justify;
}
.card-area h3 {
  font-size: 26px;
  font-weight: bold;
  color: crimson;
  text-align: left;
  padding-left: 15px;
}
.card-area ul {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.card-area ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 20px;
}
.card-area ul li a {
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  background: gradient(145deg, #1e2024, #23272b) !important;
  color: #fff;
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.card-area ul li a:hover {
  color: crimson;
}
