.title {
  font-size: 40px;
  font-weight: 500;
}
.sub_title span {
  position: relative;
  color: crimson;
  z-index: 2;
  font-weight: 700;
  padding: 0px 66px;
}
.sub_title span::before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0px;
  width: 55px;
  height: 3px;
  background: rgb(110, 106, 106);
}
.sub_title span::after {
  content: "";
  position: absolute;
  bottom: 7px;
  right: 0px;
  width: 55px;
  height: 3px;
  background: rgb(110, 106, 106);
}
